<header>
    <h1>>MyExpressServer</h1>
</header>

<form action='/' method='post'>
  <input name='num1' type='number' placeholder='Add a name'/>
  <input name='num2' type='number' placeholder='Password please'/>
  <button name='submit' type='submit'>Submit</button>
</form>

<img src='/img/1.jpg' alt='image' />
