<h1>Example Application: Home</h1>
<blockquote>{{fortune}}</blockquote>
<form action='/' method='post'>
  <input name='num1' type='number' placeholder='Add a name'/>
  <input name='num2' type='number' placeholder='Password please'/>
  <button name='submit' type='submit'>Submit</button>
</form>
